//- File name: profile.pug
//- Author's name: Dongjun Yu
//- File description: View for a profile

extends layout

block content
  .profile-box
    .box-container
      h1 Profile
      h2 Username
      p= user.username
      h2 Firstname
      p= user.firstname
      h2 Lastname
      p= user.lastname
      h2 Email
      p= user.email
      a(href=`/${user._id}/editProfile`) Update Profile