extends ../layout

block content 
    .container
        h3 Statistic of #{survey.survey_title} Survey
        ul.list-group
            li.list-group-item Number of participants : #{respondents}
            each question in survey.survey_questions
                li.list-group-item #{question.title}
                    if question.question_type=="agree" 
                        br              
                        div Agree: #{agreeNumber}
                        div Disgree: #{disagreeNumber}
                        div.progress
                            .progress-bar(role='progressbar', aria-valuenow='#{agreeNumber}', aria-valuemin='0', aria-valuemax='#{respondents}', style='width: 100%')
                            | #{agreeValue}
                    else if question.question_type=="short"
                        each answer in question.answer
                            div=answer+", "  
        
