extends ../layout

block content 
    .container
        h3 Statistic of #{survey.survey_title} Survey
        ul.list-group
            li.list-group-item Number of participants : #{respondents}
            each question in survey.survey_questions
                li.list-group-item #{question.title}
                    if question.question_type=="agree" 
                        br              
                        div Agree: #{agreeNumber}
                        div Disgree: #{disagreeNumber}
                        canvas#myChart
                    else if question.question_type=="short"
                        each answer in question.answer
                            div=answer+", "  
    
    script(type='text/javascript').
        var chrt = document.getElementById("myChart").getContext("2d");
            var data = {
            labels: ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul"],
            datasets: [{
                label: "My First dataset",
                backgroundColor: "rgba(220,220,220,0.8)",
                borderColor: "rgba(220,220,220,0.8)",
                hoverBackgroundColor: "rgba(220,220,220,0.75)",
                hoverBorderColor: "rgba(220,220,220,1)",
                data: [65, 59, 80, 81, 56, 55, 40]
            }]
            };
           var myFirstChart = new Chart(chrt, {
            type: 'bar',
            data: data
            });   

        
